.collections {
  padding: var(--gap) var(--gap) 5rem;
}

.item {
  display: flex;
  gap: var(--gap);
  align-items: center;
  margin: var(--gap) 0;
  list-style-type: none;
  cursor: pointer;
}

.image {
  height: 4rem;
  width: 4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--radius);
}

.imageCount {
  color: var(--medium);
  font-size: var(--fontSizeSmall);
}

.collectionImages {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--gap);
  height: 100%;
}

.backButton {
  top: 0.2em;
  margin-right: var(--gap);
}

.title {
  margin-bottom: var(--gap);
}

.modalAdd {
  display: grid;
  gap: var(--gap);
  margin: var(--gap);
}
