.search {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.input {
  margin: var(--gapSmall);
}

.filterBar {
  display: grid;
  grid-auto-flow: column;
  margin: 0 var(--gapSmall);
  height: 2rem;
  color: var(--medium);
}

.filter {
  justify-self: end;
}

.searchResult {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modalContent {
  display: grid;
  grid-template-rows: auto 6rem 1fr;
  height: 100%;
}

.modalTabContent {
  overflow-y: auto;
  padding: 1rem;
}

.searchResult::-webkit-scrollbar,
.modalTabContent::-webkit-scrollbar {
  width: var(--gapSmall);
}

.searchResult::-webkit-scrollbar-thumb,
.modalTabContent::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--radius);
}
