.search {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.input {
  margin: var(--gapSmall);
}

.popupSmall {
  display: grid;
  grid: 100% / auto 1fr auto;
  margin: 1rem;
  gap: 1rem;
}

.popupSmall * {
  align-self: center;
}

.popupLarge {
  display: grid;
  margin: 1rem;
  gap: 1rem;
  justify-items: self-end;
}

.headline {
  width: 100%;
}
