*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Fonts */
  --fontDefault: 'AllerLight', sans-serif;
  --fontMedium: 'Aller', sans-serif;
  --fontBold: 'AllerBold', sans-serif;
  --fontSizeDefault: 1rem;
  --fontSizeInput: 1.25rem;
  --fontSizeHeadlineLarge: 2.6rem;
  --fontSizeHeadlineDefault: 1.6rem;
  --fontSizeLogo: 0.9rem;
  --lineHeightDefault: 1.5;
  --lineHeightHeadlines: 1.2;

  /* Paddings */
  --gap: 1rem;
  --gapMedium: 0.75rem;
  --gapSmall: 0.5rem;

  /* Border-radius */
  --radius: 0.5rem;

  /* Shadows */
  --shadowDefault: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  --shadowSmall: 1px 1px 1px hsla(0, 0%, 0%, 0.5);

  /* Colors */
  --hue: 200;
  --primary: hsl(var(--hue), 100%, 45%);
  --primaryGradient: linear-gradient(
    100deg,
    hsl(var(--hue), 100%, 50%) 5%,
    hsl(var(--hue), 100%, 40%) 77%
  );
  --light: hsl(var(--hue), 100%, 100%);
  --lightPrimary: hsl(var(--hue), 100%, 95%);
  --dark: hsl(var(--hue), 10%, 25%);
  --inactive: hsl(0, 0%, 45%);
  --inactiveGradient: linear-gradient(100deg, hsl(0, 00%, 40%) 5%, hsl(0, 00%, 50%) 77%);
  --medium: hsl(0, 0%, 75%);
  --mediumGradient: linear-gradient(100deg, hsl(0, 00%, 70%) 5%, hsl(0, 00%, 80%) 77%);
}

@font-face {
  font-family: 'AllerLight';
  src: url('../assets/aller.light.ttf');
}

@font-face {
  font-family: 'Aller';
  src: url('../assets/aller.regular.ttf');
}

@font-face {
  font-family: 'AllerBold';
  src: url('../assets/aller.bold.ttf');
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--fontDefault);
  line-height: var(--lineHeightDefault);
  background: var(--dark);
  color: var(--light);
}

.colorPrimary {
  color: var(--primary);
}

.colorPrimaryGradient {
  background: var(--primaryGradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.colorLight {
  color: var(--light);
}

.colorLightPrimary {
  color: var(--lightPrimary);
}

.colorDark {
  color: var(--dark);
}

.colorInactive {
  color: var(--inactive);
}

.colorInactiveGradient {
  background: var(--inactiveGradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.colorMedium {
  color: var(--medium);
}

.colorMediumGradient {
  background: var(--mediumGradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
