.button {
  background: var(--primaryGradient);
  border-radius: var(--radius);
  border: none;
  padding: var(--gapMedium);
  font-family: var(--fontBold);
  font-size: var(--fontSizeInput);
  line-height: var(--lineHeightHeadlines);
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gapMedium);
  cursor: pointer;
}

.small {
  font-family: var(--fontMedium);
  font-size: var(--fontSizeDefault);
  padding: var(--gapSmall);
  gap: var(--gapSmall);
}

.transparent {
  background: transparent;
  padding: 0;
}

.inactive {
  background: var(--inactiveGradient);
}

.iconShadow * {
  filter: drop-shadow(var(--shadowIcon));
}
