.imagesList {
  height: 100%;
  padding-bottom: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.imagesList::-webkit-scrollbar {
  width: var(--gapSmall);
}
.imagesList::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--radius);
}

.searchResultImage {
  padding: 0 var(--gapSmall);
}

.loading {
  opacity: 0;
  height: 0 !important;
  overflow: hidden;
}

.spinner {
  height: 30%;
}

.modalContent {
  display: grid;
  grid-template-rows: auto 6rem 1fr;
  height: 100%;
}

.modalTabContent {
  overflow-y: auto;
  padding: 1rem;
}

.modalTabContent::-webkit-scrollbar {
  width: var(--gapSmall);
}

.modalTabContent::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--radius);
}
