.searchResultImage {
  padding: 0 var(--gapSmall);
}

.loading {
  opacity: 0;
  height: 0 !important;
  overflow: hidden;
}

.loaded {
  opacity: 1;
  transition: ease-in 0.1s;
}

.spinner {
  height: 30vh;
}
